<div class="container pd-25">
  

<div class="row">
    <div class="col-md-12 pdb-20">
        <h1 class="mgb-0 text-center fw-600">TERMS OF SERVICE</h1>
    </div>
</div>
<div class="row privacy mgl-0">
    <div class="col-md-12">
        <ul>
            <li>
             Machine can work only for the amount of time specified in the booking. If there is a need to work beyond the time specified time customer should reach our support team to modify the booking and extend the booking time
            </li>
            <li>
             It is customers responsibility to complete the work using the equipment within the schedule of time duration booked. A maximum of 30 mins can be allowed beyond the schedule of time to complete the work.
            </li>
            <li>
             As soon as the work is completed customer must provide  confirmation of work completion either thru web or mobile application interface provided to him.
            </li>
            <li>
            It is customer responsibility to monitor the work performed by the equipment following all the safety practices. We will not hold any responsibility due to the damage caused to the property by the equipment while working. Equipment owner should hold the total responsibility.
            </li>
            <li>
             If the works contract is for more than one day, then it is customer responsibility to provide the necessary accommodation to the driver during the work schedule.
            </li>
            <li>
             In an unforeseen incident,  if the equipment breaks down during the work schedule an alternative will be provided with in 24 hrs from the time of equipment breakdown.
            </li>
            <li>
             If the allocated machine breaks down before the start of work schedule or while transporting to the work location, an alternative will be provided with in 24 hrs from the start of the actual schedule. Else if the customer wish to cancel his booking , he can cancel thru our mobile or web interface for which the total amount paid by the customer will be refunded to the same account within 3 business working days.
            </li>
            <li>
             Once you place the booking it is does not mean that we have accepted your booking , unless we send the confirmation details of along with equipment and operator details
            </li>
            <li>
             Payment for the due amount should be paid right after the work completion confirmation provided. A maximum of 48 hours is allowed to clear the pending dues after which necessary  action will be taken to recover the dues.
            </li>
            <li>
             If it is a weekly booking the payment should be done end of each of week for the respective week.                
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12 pdb-20 pdt-20">
        <h1 class="mgb-0 text-center fw-600">BOOKING CANCELLATION & REFUND POLICY</h1>
    </div>
</div>
<div class="row privacy mgl-0">
    <div class="col-md-12">
        <ul>
            <li>
             Customer can choose to cancel the booking by accessing the cancel option in the bookings page.
            </li>
            <li>
             Cancellations made less than 12 hrs from the job start time  will incur a 500 Penalty fee and remaining amount will be refunded to Customer’s bank account within 5 business days.
            </li>
            <li>
             There are circumstances when the company might have to cancel a particular order and our  receipt of an electronic or any another form of booking confirmation does not signify the final acceptance of your booking  and Crexin  reserves the right at any time after the receipt of your booking to accept or decline your booking for any reason.
            </li>
        </ul>
    </div>
</div>
</div>